footer{
    background-color: #902923;
    min-height: 5rem;
    bottom: 0;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

footer p, .git-href{
    color: #B9BAA3;
    margin: auto;
}

.git-href, .git-href:visited{
    font-weight: 600;
    color: inherit;
    text-shadow: #0A100D 1.5px 1.5px;}

.git-href:hover{color: #e4e4dc}