/* 0A100D oscuro
B9BAA3 gris
D6D5C9 fondo claro
A22C29 rojo claro
902923 bordo */

header{
    background-color: #902923;
    font-weight: 800;
}

.nav-link{
    color: #B9BAA3 !important;
    text-shadow: #0A100D 1.5px 1.5px;
}
