.recetas-texto{
    margin: 2rem auto 0;
    width: 95%;
}

.recetas-texto ul li a:visited{
    color: #902923 !important;
}

#video-pan{
    justify-content: center;
    height:fit-content;
    height: 30rem;
    width: 100%;
}